<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.sparke.user.modules.v1.coupons.mapper.CouponMapper">

    <insert id="batchInsertCoupon">
        INSERT INTO tb_coupon (id, user_id, rule_id, product_id, title, effect_date, invalid_date, min_money,
        discount_money, create_date, update_date)
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.id},
            #{item.userId},
            #{item.ruleId},
            #{item.productId},
            #{item.title},
            #{item.effectDate},
            #{item.invalidDate},
            #{item.minMoney},
            #{item.discountMoney},
            #{item.createDate},
            #{item.updateDate}
            )
        </foreach>

    </insert>
</mapper>