<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.sparke.easy.modules.v1.studymaterialswritings.mapper.StudyMaterialsWritingMapper">

    <select id="queryListByType" resultType="cn.sparke.easy.modules.v1.studymaterialswritings.bean.StudyMaterialsWritingBean">
        SELECT
            id,
            title
        FROM tb_qr_code_study_materials_writing t
        WHERE type =#{type}
        AND t.del_flag=0
        ORDER BY t.sort ASC ,t.create_date DESC
    </select>

    <select id="getById" resultType="cn.sparke.easy.modules.v1.studymaterialswritings.bean.StudyMaterialsWritingBean">
        SELECT
            id,
            title,
            content
        FROM tb_qr_code_study_materials_writing t
        WHERE id =#{id}
        AND t.del_flag=0
    </select>

</mapper>